.background {
  background-color: #fff !important;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

ol{
  background-color: transparent !important;
}

ol a {
  color: #1d44b8 !important;
}

.wrapper {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}

.card {
  border-left: 0 !important;
  border-right: 0 !important;
}

.img {
  width: 150px;
  height: 150px;
}

.textWrapper{
  width: 60%;
}

.imgWrapper {
  margin-top: -20px;
}

.grade {
  color: rgb(114, 112, 112) !important;
  font-style: italic;
  font-size: 18px;
}

.cardText {
  margin-bottom: 5px !important;
  font-size: 15px;
}

@media screen and (max-width: 840px) {
  .wrapper {
    text-align: center;
  }

  .imgWrapper{
    margin-left: auto;
    margin-right: auto;
  }

  .textWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}