.fullWidth,
.navBar {
  background-color: #1d44b8;
  padding: 20px;
}

.link {
  color: white !important;
}

.active{
  color: rgb(201, 191, 191) !important;
}

.link:hover{
  color: rgb(177, 176, 176) !important;
}

.hamburgerIcon {
  border-color: white !important;
}

.wrapper{
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
}