.fullWidth,
.navBar {
  background-color: #1d44b8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  color: white !important;
}

.active{
  color: rgb(201, 191, 191) !important;
}

.link:hover{
  color: rgb(177, 176, 176) !important;
}

.hamburgerIcon {
  border-color: white !important;
}

.wrapper{
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.skipLink {
  background: #fff;
  height: 30px;
  left: 40%;
  padding: 8px;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.3s;
  color: #1d44b8;
}

.skipLink:focus {
  transform: translateY(0%);
  z-index:99
}