.AppHeader {
    background-color: burlywood;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .AppLogo {
    height: 150px;
    width: 150px;
    pointer-events: none;
  }

  .wrapper {
    padding: 20px;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  