.background {
  background-color: #fff !important;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.wrapper {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}

.name {
  text-align: left !important;
  margin-left: 80px;
  font-size: 20px !important;
}

.year {
  color: #212529 !important;
  font-style: italic !important;
  text-align: left;
  font-size: 14px;
}

.responsibilities li {
  list-style-type: disc;
}

.responsibilities ul {
  margin-left: 10px;
}

.caret {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
}

.accordian {
  background-color: #fff !important;
  border: none !important;
}

.headerName {
  color: #1d44b8 !important;
}

.image {
  width: 120px;
  height: 50px;
}

.breadcrumbList {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
}

.addPositionBtn {
  margin-top: 5px;
}

.section {
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.positionGroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.trash {
  margin-top: 5px;
}

.trashFirst,
.addPositionBtnFirst {
  margin-top: 35px;
}

.colButton {
  max-width: 50px !important;
  margin-left: -10px !important;
}

.errorsInput{
  border: 1px solid red !important;
}

.errors{
  color: red;
  margin-top: 5px;
  margin-bottom: -3px;
}

.row {
  margin-bottom: 35px;
}

@media screen and (max-width: 650px) {
  .name {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
