.SideBar {   
  float: left;
  width: 25%;
  height: 100vh;
  background-color: burlywood;
}

.MainContent {
  float: left;
  width: 72%;
  padding-left: 20px;
  background-color: #282c34;
  height: 100vh;
}
html,
body {
    margin: 0px;
    height: 100%;
}

.container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}